<ion-view>
    <ion-content padding="true" class="has-header">
        <form id="home-form1" class="list">
            <label class="item item-input" id="home-input2" name="email">
                <span class="input-label">email</span>
                <input type="email" placeholder="Enter your email address">
            </label>
            <label class="item item-input" id="home-input1">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <ion-toggle toggle-class="toggle-positive" id="home-toggle1">Toggle</ion-toggle>
        </form>
    </ion-content>
</ion-view>